<div {{did-insert this.activateDropdown}}
    {{did-update this.activateDropdown @selected}}
        class="ui label dropdown" ...attributes>
    <Text::Sub>{{@labelText}}</Text::Sub>
    <input type="hidden" {{on 'change' this.updateDropdown}}>
    <Icon class="dropdown" />
    <Menu::Sub>
        {{yield}}
    </Menu::Sub>
</div>