<div class="{{if @active 'active'}} step" ...attributes>
    {{#if (has-block)}}
        {{yield}}
    {{else}}
        {{#if @icon}}
            <Icon class={{@icon}} />
        {{/if}}
        <General::Content>
            {{#if @title}}
                <General::Title>
                    {{@title}}
                </General::Title>
            {{/if}}
            {{#if @description}}
                <General::Description>
                    {{@description}}
                </General::Description>
            {{/if}}
        </General::Content>
    {{/if}}
</div>