<Grid::Row>
    {{#if @showCharitySearch}}
        <Grid::Column class="sixteen wide">
            <Form::Field class="required"
                         @label="Please type in a minimum of 4 characters from a charity number or charity/cause name to begin your search"
                         @info="Please enter at least 4 characters in order to return search results">
                <Search class="fluid"
                        @placeholder="Search for a charity..."
                        @selected={{@form.selectedCharity.name}}
                        @onChange={{fn this.searchForCharity}}
                        @results={{this.filteredCharities.length}}
                        @showClearTextIcon={{true}}
                        @loading={{this.taskSearchForCharity.isRunning}}
                    {{autofocus}}>
                    {{#each this.filteredCharities as |charity|}}
                        <a class="result" {{on 'click' (fn this.charitySelected charity)}}>
                            <General::Content>
                                <General::Title>{{charity.name}}</General::Title>
                                <General::Description>{{charity.description}}</General::Description>
                            </General::Content>
                        </a>
                    {{/each}}
                </Search>
            </Form::Field>
        </Grid::Column>
    {{/if}}
    <Grid::Column class="sixteen wide">
        {{#if this.showCauses}}
            <p>
                You may {{if @causes 'search for a cause or'}} enter a reference to associate with this {{@type}}, but this is optional. If no cause or reference is entered, a {{@type}} that provides a link to your landing page will be generated.
            </p>
            <br>
            <Form::Field class={{if @causesLoading 'disabled'}} @label="Begin typing the name of the cause in the box below and select from the list of options (optional)">
                <Search id="cause-donation-form-search-cause"
                        class="fluid"
                        @placeholder="Search for your cause..."
                        @selected={{@form.selectedCause.name}}
                        @onChange={{fn this.searchForCause}}
                        @results={{this.filteredCauses.length}}
                        @showClearTextIcon={{true}}
                        @loading={{or @causesLoading this.taskSearchForCause.isRunning}}
                    {{autofocus}}>
                    {{#each this.filteredCauses as |cause|}}
                        <a class="result" {{on 'click' (fn this.causeSelected cause)}}>
                            <General::Content>
                                <General::Title>{{cause.name}}</General::Title>
                                <General::Description>{{cause.addressLine1}} {{cause.postcode}}</General::Description>
                            </General::Content>
                        </a>
                    {{/each}}
                </Search>
            </Form::Field>
            <Divider class="primary horizontal">
                OR
            </Divider>
        {{/if}}
        {{#unless @hideReference}}
            <Form::Field @label="Enter your reference (optional)">
                <div class="ui fluid input">
                    <input id="cause-donation-form-input-reference" type="text" value={{@form.reference}} {{on 'input' this.updateReference}}>
                </div>
                <br>
                <p>
                    <Icon class="blue info circle" /> Your reference should only include letters, numbers and hyphens. No spaces.
                </p>
            </Form::Field>
        {{/unless}}
        {{#liquid-if @form.selectedCause class="animate-show-hide"}}
            <Segment class="raised">
                <Grid class="two column stackable">
                    <Grid::Column>
                        <Header class="primary" @tagName="h4" @text="ADDRESS" />
                        {{#if @form.selectedCause.addressLine_1}}
                            {{@form.selectedCause.addressLine_1}}<br>
                        {{/if}}
                        {{#if @form.selectedCause.addressLine_2}}
                            {{@form.selectedCause.addressLine_2}}<br>
                        {{/if}}
                        {{#if @form.selectedCause.addressLine_3}}
                            {{@form.selectedCause.addressLine_3}}<br>
                        {{/if}}
                        {{#if @form.selectedCause.town}}
                            {{@form.selectedCause.town}}<br>
                        {{/if}}
                        {{#if @form.selectedCause.postcode}}
                            {{@form.selectedCause.postcode}}<br>
                        {{/if}}
                    </Grid::Column>
                    <Grid::Column>
                        {{#if this.registeredCharityNumber}}
                            <Header class="primary" @tagName="h4" @text="REGISTERED CHARITY NUMBER" />
                            {{this.registeredCharityNumber}}
                        {{/if}}
                    </Grid::Column>
                </Grid>
            </Segment>
        {{/liquid-if}}
        <br>
    </Grid::Column>
    <Grid::Column class="sixteen wide">
        <Segment class="basic tertiary center aligned">
            <Header @tagName="h4" @text="Donation Page Options" />
        </Segment>
        <p>
            To see the effect that the following options have on your donation page look at the preview below.
        </p>
        <br>
    </Grid::Column>
    <Grid::Column class="twelve wide centered">
        <Form::Field>
            <Checkbox class="toggle"
                      @label="Show the 3 preset donation amounts"
                      @checked={{not @form.hidePresetAmounts}}
                      @onChange={{fn this.toggleHidePresetAmounts}} />
        </Form::Field>
        <br>
    </Grid::Column>
    <Grid::Column id="cause-donation-form-checkboxes" class="twelve wide centered">
        <Form::Field @info="If you do not hide the donation frequency types the register option cannot be hidden as registration is required for weekly or monthly donations.">
            <Checkbox class="toggle"
                      @label="Show the donation frequency types"
                      @checked={{not @form.hidePeriods}}
                      @onChange={{fn this.toggleHidePeriods}} />
        </Form::Field>
        <br>
    </Grid::Column>
    {{#if this.showGiftAidToggle}}
        <Grid::Column class="twelve wide centered">
            <Form::Field>
                <Checkbox class="toggle"
                          @label="Show the Gift Aid reclaim section"
                          @checked={{not @form.hideGiftAid}}
                          @onChange={{fn this.toggleHideGiftAid}} />
            </Form::Field>
            <br>
        </Grid::Column>
    {{/if}}
    <Grid::Column class="twelve wide centered">
        <Form::Field @info="If you hide the option to register, the donation frequency types will also be hidden because weekly and monthly recurring donations require registration.">
            <Checkbox class="toggle"
                      @label="Show the option to register with MyGivingHub"
                      @checked={{not @form.hideRegistration}}
                      @onChange={{fn this.toggleHideRegistration}} />
        </Form::Field>
        <br>
    </Grid::Column>
    <Grid::Column class="twelve wide centered">
        <Form::Field>
            <Checkbox class="toggle"
                      @label="Show one fixed donation amount that the donor cannot change"
                      @checked={{@form.fixedAmount}}
                      @onChange={{fn this.toggleFixedDonation}} />
        </Form::Field>
        <br>
    </Grid::Column>
    {{!--<Grid::Column class="twelve wide centered">
        <Form::Field>
            <Checkbox class="toggle"
                      @label="Request donor permission for future contact"
                      @checked={{@form.allowEmail}}
                      @onChange={{fn this.toggleAllowEmail}} />
        </Form::Field>
        <br>
    </Grid::Column>--}}
    {{#if this.showGeolocationCheckbox}}
        <Grid::Column class="twelve wide centered">
            <Form::Field>
                <Checkbox class="toggle"
                          @label="Ask for the donor's geographic location to automatically select the cause nearest to them"
                          @checked={{@form.geolocation}}
                          @onChange={{fn this.toggleGeolocation}} />
            </Form::Field>
            <br>
        </Grid::Column>
    {{/if}}
    <Grid::Column class="sixteen wide">
        <Text class="link" {{on 'click' this.togglePreview}}>{{if this.showPreview 'Hide' 'Show'}} donation page preview</Text>
        <br><br>
    </Grid::Column>
    <Grid::Column class="sixteen wide">
        {{#liquid-if this.showPreview class="animate-show-hide"}}
            <Segment class="light">
                <Header class="primary center aligned" @tagName="h4" @text="DONATION PAGE PREVIEW" />
                <br>
                <Grid class="stackable">
                    <Grid::Column class="ten wide centered">
                        {{#unless (or @form.hideRegistration @form.hidePeriods)}}
                            <Segment>
                                <Header class="grey" @tagName="h6" @text="FREQUENCY" />
                                <Placeholder class="fluid">
                                    <Placeholder::Paragraph>
                                        <Placeholder::Line></Placeholder::Line>
                                    </Placeholder::Paragraph>
                                </Placeholder>
                                <br>
                                <Button::Container class="mini fluid">
                                    {{#each-in this.periods as |period periodText|}}
                                        <Button::Standard class={{if (eq @form.period period) 'active disabled' 'disabled'}} @type="button" @text={{periodText}} />
                                    {{/each-in}}
                                </Button::Container>
                            </Segment>
                        {{/unless}}
                        <Segment>
                            <Header class="grey" @tagName="h6" @text="AMOUNT" />
                            {{#if @form.fixedAmount}}
                                <div class="circle-area">
                                    <div class="circle-area-value">
                                        {{get-numeral @form.customAmount '$0,0'}}
                                    </div>
                                </div>
                            {{else}}
                                <Placeholder class="fluid">
                                    <Placeholder::Paragraph>
                                        <Placeholder::Line></Placeholder::Line>
                                    </Placeholder::Paragraph>
                                </Placeholder>
                                {{#unless @form.hidePresetAmounts}}
                                    <br>
                                    <Grid class="center aligned three column stretched">
                                        {{#each this.presetAmounts as |presetAmount|}}
                                            <Grid::Column>
                                                <div class="circle-area">
                                                    <div class="circle-area-value">
                                                        {{get-numeral presetAmount '$0,0'}}
                                                    </div>
                                                </div>
                                            </Grid::Column>
                                        {{/each}}
                                    </Grid>
                                {{/unless}}
                                <Grid class="stackable">
                                    <Grid::Column class="six wide middle aligned">
                                        <Header class="grey" @tagName="h6" @text="OTHER" />
                                    </Grid::Column>
                                    <Grid::Column class="ten wide">
                                        <Segment class="less-padding">
                                            <Icon class="grey pound" />
                                            <Text class="grey">{{format-decimal-as-currency @form.customAmount}}</Text>
                                        </Segment>
                                    </Grid::Column>
                                </Grid>
                            {{/if}}
                        </Segment>
                    </Grid::Column>
                    {{#unless @form.hideGiftAid}}
                        <Grid::Column class="sixteen wide">
                            <Segment>
                                <Form::Container class="mini">
                                    <Form::Field class="disabled">
                                        <Checkbox class="toggle"
                                                  @label="I WOULD LIKE TO GIFT AID THIS DONATION" />
                                    </Form::Field>
                                </Form::Container>
                                <br>
                                <Placeholder class="fluid">
                                    <Placeholder::Paragraph>
                                        <Placeholder::Line></Placeholder::Line>
                                    </Placeholder::Paragraph>
                                </Placeholder>
                            </Segment>
                        </Grid::Column>
                    {{/unless}}
                    {{#if @form.allowEmail}}
                        <Grid::Column class="sixteen wide">
                            <Segment>
                                <Form::Container class="mini">
                                    <Form::Field class="disabled">
                                        <Checkbox class="toggle"
                                                  @label="I'M HAPPY TO RECEIVE UPDATES BY EMAIL" />
                                    </Form::Field>
                                </Form::Container>
                            </Segment>
                        </Grid::Column>
                    {{/if}}
                    {{#unless @form.hideRegistration}}
                        <Grid::Column class="sixteen wide">
                            <Segment class="center aligned">
                                <Header class="grey" @tagName="h6" @text="To make regular donations you need a MyGivingHub account" />
                                <div class="ui buttons">
                                    <Button::Standard class="disabled">
                                        LOGIN
                                        &nbsp;<i class="sign in icon"></i>
                                    </Button::Standard>
                                    <div class="or"></div>
                                    <Button::Standard class="disabled">
                                        REGISTER
                                        &nbsp;<i class="sign in icon"></i>
                                    </Button::Standard>
                                </div>
                            </Segment>
                        </Grid::Column>
                    {{/unless}}
                    {{#if @form.geolocation}}
                        <Grid::Column class="sixteen wide">
                            <Segment>
                                <Header class="grey" @tagName="h6" @text="Confirm Your Location" />
                                <Grid class="stackable">
                                    <Grid::Column class="four wide">
                                        <Form::Container class="mini">
                                            <Button::Standard class="active disabled fluid" @type="button">
                                                <Icon class="map marker alternate" />
                                            </Button::Standard>
                                        </Form::Container>
                                    </Grid::Column>
                                    <Grid::Column class="twelve wide">
                                        <Placeholder class="fluid">
                                            <Placeholder::Paragraph>
                                                <Placeholder::Line></Placeholder::Line>
                                            </Placeholder::Paragraph>
                                        </Placeholder>
                                    </Grid::Column>
                                </Grid>
                            </Segment>
                        </Grid::Column>
                    {{/if}}
                </Grid>
            </Segment>
            <br>
        {{/liquid-if}}
    </Grid::Column>
    {{#if @form.hidePresetAmounts}}
        <Grid::Column id="cause-donation-form-donation-amount" class="sixteen wide">
            <Form::Field @label="Enter a donation amount {{if @amountsOptional '(optional)'}}">
                <div class="ui fluid labeled input">
                    <Label>
                        {{this.userData.isoCurrencyCode}}
                    </Label>
                    {{one-way-currency-mask
                            @form.customAmount
                            options=(hash prefix='' allowMinus=false)
                            update=(fn this.updateCustomAmount)
                    }}
                </div>
            </Form::Field>
        </Grid::Column>
    {{else}}
        <Grid::Column class="sixteen wide">
            <Grid class="equal width stackable">
                <Grid::Column id="cause-donation-form-preset-amounts">
                    <Form::Field @label="Select a donation amount {{if @amountsOptional '(optional)'}}">
                        <Button::Container class="large fluid">
                            {{#each this.presetAmounts as |presetAmount|}}
                                <Button::Standard class={{if (eq @form.presetAmount presetAmount) 'active'}} @type="button" @text={{get-numeral presetAmount '$0,0[.]00'}} {{on 'click' (fn this.updatePresetAmount presetAmount)}} />
                            {{/each}}
                        </Button::Container>
                    </Form::Field>
                    <p>
                        <a id="cause-donation-form-custom-amounts" {{on 'click' this.toggleCustomAmountsModal}}>Choose custom donation amounts</a>
                    </p>
                </Grid::Column>
                <Grid::Column class="one wide center aligned middle aligned">
                    <Segment class="basic fitted">
                        <span class="ui primary text"><strong>OR</strong></span>
                    </Segment>
                </Grid::Column>
                <Grid::Column id="cause-donation-form-donation-amount">
                    <Form::Field @label="Enter a donation amount {{if @amountsOptional '(optional)'}}">
                        <div class="ui fluid labeled input">
                            <Label>
                                {{this.userData.isoCurrencyCode}}
                            </Label>
                            {{one-way-currency-mask
                                    @form.customAmount
                                    options=(hash prefix='' allowMinus=false)
                                    update=(fn this.updateCustomAmount)
                            }}
                        </div>
                    </Form::Field>
                </Grid::Column>
            </Grid>
        </Grid::Column>
    {{/if}}
    {{#if @amountsOptional}}
        <Grid::Column class="sixteen wide">
            <p>
                <br>
                If you do not set a donation amount here, the donor can choose their own amount.
            </p>
        </Grid::Column>
    {{/if}}
    {{#unless this.hidePeriods}}
        <Grid::Column id="cause-donation-form-periods" class="sixteen wide">
            <br>
            <Form::Field @label="Select a donation frequency type">
                <Button::Container class="large fluid {{unless (media 'isDesktop') 'vertical'}}">
                    {{#each-in this.periods as |period periodText|}}
                        <Button::Standard class={{if (eq @form.period period) 'active'}} @type="button" @text={{periodText}} {{on 'click' (fn this.updatePeriod period)}} />
                    {{/each-in}}
                </Button::Container>
            </Form::Field>
        </Grid::Column>
    {{/unless}}
</Grid::Row>
{{#if this.showCustomAmountsModal}}
    <Modal @toggleModal={{fn this.toggleCustomAmountsModal}}>
        <Card class="fluid">
            <General::Content>
                <Header @text="Change or fix the values of your donation amounts" />
                <General::Description>
                    <p>
                        Enter and save the values you would like to use to fix these donation amounts.*
                    </p>
                    <br>
                    <Form::Container>
                        <Grid class="stackable">
                            <Grid::Row class="three column">
                                <Grid::Column>
                                    <Form::Field @label="Amount 1">
                                        <div class="ui fluid left icon input">
                                            {{one-way-currency-mask
                                                    @form.customAmount1
                                                    options=(hash prefix='' allowMinus=false)
                                                    update=(fn this.updateAmount 'customAmount1')
                                            }}
                                            <Icon class="pound" />
                                        </div>
                                    </Form::Field>
                                </Grid::Column>
                                <Grid::Column>
                                    <Form::Field @label="Amount 2">
                                        <div class="ui fluid left icon input">
                                            {{one-way-currency-mask
                                                    @form.customAmount2
                                                    options=(hash prefix='' allowMinus=false)
                                                    update=(fn this.updateAmount 'customAmount2')
                                            }}
                                            <Icon class="pound" />
                                        </div>
                                    </Form::Field>
                                </Grid::Column>
                                <Grid::Column>
                                    <Form::Field @label="Amount 3">
                                        <div class="ui fluid left icon input">
                                            {{one-way-currency-mask
                                                    @form.customAmount3
                                                    options=(hash prefix='' allowMinus=false)
                                                    update=(fn this.updateAmount 'customAmount3')
                                            }}
                                            <Icon class="pound" />
                                        </div>
                                    </Form::Field>
                                </Grid::Column>
                            </Grid::Row>
                            <Grid::Row>
                                <Grid::Column>
                                    <p>
                                        * Fixed donation values will not be affected by future changes to your default donation amounts.
                                    </p>
                                </Grid::Column>
                            </Grid::Row>
                            {{#if this.userData.merchant}}
                                <Grid::Row>
                                    <Grid::Column>
                                        <Form::Field>
                                            <Checkbox @label="Make these values the new default amounts for all future donations?"
                                                      @checked={{this.makeCustomAmountsDefault}}
                                                      @onChange={{fn this.toggleMakeCustomAmountsDefault}} />
                                        </Form::Field>
                                    </Grid::Column>
                                </Grid::Row>
                            {{/if}}
                        </Grid>
                    </Form::Container>
                </General::Description>
            </General::Content>
            <General::Content class="extra">
                <Menu class="{{if (media 'isMobile') 'fluid vertical'}} fitted small borderless secondary">
                    <Menu::Sub class="right">
                        <Menu::Item>
                            <Button::LabeledIcon class="red fluid"
                                                 @text="CANCEL"
                                                 @icon="times"
                                {{on 'click' this.cancelCustomAmountsModal}} />
                        </Menu::Item>
                        <Menu::Item>
                            <Button::LabeledIcon class="green fluid" {{on 'click' this.updateCustomAmounts}}
                                                 @text="SAVE"
                                                 @icon="thumbs up"
                                                 @loading={{this.taskSaveCustomAmounts.isRunning}} />
                        </Menu::Item>
                    </Menu::Sub>
                </Menu>
            </General::Content>
        </Card>
    </Modal>
{{/if}}