<Segment class="basic fitted">
    <Grid class="compact one column stackable">
        {{#if @imageUrl}}
            <Grid::Row>
                <Grid::Column class="center aligned">
                    {{#if this.noCacheImage}}
                        <img class="ui centered medium image" src={{this.noCacheImage}} alt="QR Code" />
                        <br>
                        <p>
                            <strong>Use your phone's camera to try it out</strong>
                        </p>
                        <br>
                    {{/if}}
                </Grid::Column>
            </Grid::Row>
        {{/if}}
        {{#if @queryParams}}
            <Grid::Row class="centered">
                <Grid::Column class="twelve wide">
                    <strong>Label:</strong><br>{{if @queryParams.label @queryParams.label 'None'}}
                    <br><br>
                </Grid::Column>
                {{#if @queryParams.amount}}
                    <Grid::Column class="twelve wide">
                        <strong>Donation amount:</strong><br>{{format-decimal-as-currency @queryParams.amount}}
                        <br><br>
                    </Grid::Column>
                {{else}}
                    {{#unless (or @queryParams.preset_amount @queryParams.hidden_amount)}}
                        <Grid::Column class="twelve wide">
                            <strong>Donation amount:</strong><br>{{format-decimal-as-currency 0.00}} (donor decides amount)
                            <br><br>
                        </Grid::Column>
                    {{/unless}}
                {{/if}}
                {{#if (or @queryParams.preset_amount @queryParams.hidden_amount)}}
                    <Grid::Column class="twelve wide">
                        <strong>Preset Donation Amount:</strong><br>{{format-decimal-as-currency (if @queryParams.preset_amount @queryParams.preset_amount @queryParams.hidden_amount)}}
                        <br><br>
                    </Grid::Column>
                {{/if}}
                {{#if @queryParams.custom_amounts}}
                    <Grid::Column class="twelve wide">
                        <strong>Custom Amounts:</strong><br>{{this.customAmounts}}
                        <br><br>
                    </Grid::Column>
                {{/if}}
                <Grid::Column class="twelve wide">
                    <strong>Donation Frequency Default:</strong><br>{{capitalize @queryParams.period}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>Reference:</strong><br>{{if @queryParams.reference @queryParams.reference 'None'}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>3 Preset Donation Amounts:</strong><br>{{yes-no (eq @queryParams.hide_preset_amounts '0')}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>Donation Frequency Types:</strong><br>{{if @queryParams.hide_periods 'Single' 'Single, Weekly, Monthly'}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>Gift Aid Reclaim:</strong><br>{{yes-no (eq @queryParams.hide_gift_aid '0')}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>Register With MyGivingHub:</strong><br>{{yes-no (eq @queryParams.hide_registration '0')}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>Single Fixed Donation Amount:</strong><br>{{yes-no @queryParams.fixed_amount}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>Show Geolocation:</strong><br>{{yes-no (eq @queryParams.geolocation '0')}}
                    <br><br>
                </Grid::Column>
                <Grid::Column class="twelve wide">
                    <strong>Show Allow Email Communications:</strong><br>{{yes-no (eq @queryParams.allow_email '0')}}
                </Grid::Column>
            </Grid::Row>
        {{/if}}
    </Grid>
</Segment>