{{#if (eq @tagName 'h1')}}
    <h1 class="ui header" ...attributes>
        <Header::TypeIcon @text={{@text}} @subText={{@subText}} @icon={{@icon}} />
    </h1>
{{else if (eq @tagName 'h2')}}
    <h2 class="ui header" ...attributes>
        <Header::TypeIcon @text={{@text}} @subText={{@subText}} @icon={{@icon}} />
    </h2>
{{else if (eq @tagName 'h3')}}
    <h3 class="ui header" ...attributes>
        <Header::TypeIcon @text={{@text}} @subText={{@subText}} @icon={{@icon}} />
    </h3>
{{else if (eq @tagName 'h4')}}
    <h4 class="ui header" ...attributes>
        <Header::TypeIcon @text={{@text}} @subText={{@subText}} @icon={{@icon}} />
    </h4>
{{else if (eq @tagName 'h5')}}
    <h5 class="ui header" ...attributes>
        <Header::TypeIcon @text={{@text}} @subText={{@subText}} @icon={{@icon}} />
    </h5>
{{else if (eq @tagName 'h6')}}
    <h6 class="ui header" ...attributes>
        <Header::TypeIcon @text={{@text}} @subText={{@subText}} @icon={{@icon}} />
    </h6>
{{else}}
    <div class="ui header" ...attributes>
        <Header::TypeIcon @text={{@text}} @subText={{@subText}} @icon={{@icon}} />
    </div>
{{/if}}