{{#if (eq @tagName 'h1')}}
    <h1 class="ui header" ...attributes>
        <Header::TypeStandard @text={{@text}} @subText={{@subText}} />
    </h1>
{{else if (eq @tagName 'h2')}}
    <h2 class="ui header" ...attributes>
        <Header::TypeStandard @text={{@text}} @subText={{@subText}} />
    </h2>
{{else if (eq @tagName 'h3')}}
    <h3 class="ui header" ...attributes>
        <Header::TypeStandard @text={{@text}} @subText={{@subText}} />
    </h3>
{{else if (eq @tagName 'h4')}}
    <h4 class="ui header" ...attributes>
        <Header::TypeStandard @text={{@text}} @subText={{@subText}} />
    </h4>
{{else if (eq @tagName 'h5')}}
    <h5 class="ui header" ...attributes>
        <Header::TypeStandard @text={{@text}} @subText={{@subText}} />
    </h5>
{{else if (eq @tagName 'h6')}}
    <h6 class="ui header" ...attributes>
        <Header::TypeStandard @text={{@text}} @subText={{@subText}} />
    </h6>
{{else}}
    <div class="{{unless @noUi 'ui '}}header" ...attributes>
        <Header::TypeStandard @text={{@text}} @subText={{@subText}} />
    </div>
{{/if}}