{{#if (media 'isDesktop')}}
    <Menu class="secondary mini stackable">
        {{#if @hasFilters}}
            <Menu::Item>
                <Button::LabeledIcon id="datagrid-filter-button" class="mini yellow"
                                     @type="button"
                                     @icon="filter"
                                     @text={{if this.showFilters 'HIDE FILTERS' 'SHOW FILTERS'}}
                    {{on 'click' this.toggleShowFilters}} />
            </Menu::Item>
            <Menu::Item class="fitted header">
                <p>{{@filteredByText}}</p>
            </Menu::Item>
        {{/if}}
        {{#if @hasFilterCheckbox}}
            <Menu::Item>
                <Form::Field>
                    <Checkbox id="datagrid-filter-check-box-label"
                              @label={{@filterCheckboxLabel}}
                              @checked={{@filterCheckboxVariable}}
                              @onChange={{fn this.filterCheckbox}} />
                </Form::Field>
            </Menu::Item>
        {{/if}}
        <Menu::Sub class="right">
            {{#if @hasDatePickers}}
                <Menu::Item id="datagrid-datepickers">
                    <div class="ui labeled icon input">
                        <Label class="icon">
                            FROM
                        </Label>
                        <EmberFlatpickr
                                class="width-120"
                                @date={{this.queryParams.fromDate}}
                                @dateFormat={{@fromDateOptions.format}}
                                @maxDate={{@fromDateOptions.maxDate}}
                                @minDate={{@fromDateOptions.minDate}}
                                @onChange={{fn this.changeFromDate}}
                                @placeholder="Choose a Date" />
                        <Icon class="calendar alternate" />
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div class="ui labeled icon input">
                        <Label class="icon">
                            TO
                        </Label>
                        <EmberFlatpickr
                                class="width-120"
                                @date={{this.queryParams.toDate}}
                                @dateFormat={{@toDateOptions.format}}
                                @maxDate={{@toDateOptions.maxDate}}
                                @minDate={{@toDateOptions.minDate}}
                                @onChange={{fn this.changeToDate}}
                                @placeholder="Choose a Date" />
                        <Icon class="calendar alternate" />
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <Button::Standard class="fluid {{unless @customDateSet 'disabled'}}"
                                      @type="button"
                        {{on 'click' @setCustomDate}}>
                        SET DATES
                    </Button::Standard>
                </Menu::Item>
            {{/if}}
            {{!--<Menu::Item>
                <Button::LabeledIcon id="datagrid-refresh-button" class="mini fluid"
                                     @type="button"
                                     @icon="refresh"
                                     @text="REFRESH"
                                     @loading={{this.performingRefresh}}
                    {{on 'click' this.refreshDatagrid}} />
            </Menu::Item>--}}
            <Menu::Item>
                <Button::LabeledIcon class="mini fluid red {{unless @filtered 'disabled'}}"
                                     @type="button"
                                     @icon="undo"
                                     @text="RESET"
                    {{on 'click' this.resetFilters}} />
            </Menu::Item>
            {{#if @requestReport}}
                <Menu::Item>
                    <Button::LabeledIcon class="mini"
                                         @type="button"
                                         @icon="history"
                                         @text="REQUEST CSV REPORT"
                        {{on 'click' this.requestCsvReport}} />
                </Menu::Item>
            {{/if}}
        </Menu::Sub>
    </Menu>
{{else if (media 'isTablet')}}
    <Grid class="stackable padded">
        {{!--<Grid::Column class="eight wide">
            <Button::LabeledIcon class="fluid"
                                 @type="button"
                                 @icon="refresh"
                                 @text="REFRESH"
                                 @loading={{this.performingRefresh}}
                {{on 'click' this.refreshDatagrid}} />
        </Grid::Column>--}}
        <Grid::Column class="eight wide">
            <Button::LabeledIcon class="fluid red {{unless @filtered 'disabled'}}"
                                 @type="button"
                                 @icon="undo"
                                 @text="RESET"
                {{on 'click' this.resetFilters}} />
        </Grid::Column>
        {{#if @requestReport}}
            <Grid::Column class="eight wide">
                <Button::LabeledIcon class="fluid"
                                     @type="button"
                                     @icon="history"
                                     @text="REQUEST CSV REPORT"
                    {{on 'click' this.requestCsvReport}} />
            </Grid::Column>
        {{/if}}
        {{#if @hasDatePickers}}
            <Grid::Row>
                <Grid::Column class="six wide">
                    <div class="ui fluid labeled icon input">
                        <Label class="icon">
                            FROM
                        </Label>
                        <EmberFlatpickr
                                @date={{this.queryParams.fromDate}}
                                @dateFormat={{@fromDateOptions.format}}
                                @maxDate={{@fromDateOptions.maxDate}}
                                @minDate={{@fromDateOptions.minDate}}
                                @onChange={{fn this.changeFromDate}}
                                @placeholder="Choose a Date" />
                        <Icon class="calendar alternate" />
                    </div>
                </Grid::Column>
                <Grid::Column class="six wide">
                    <div class="ui fluid labeled icon input">
                        <Label class="icon">
                            TO
                        </Label>
                        <EmberFlatpickr
                                @date={{this.queryParams.toDate}}
                                @dateFormat={{@toDateOptions.format}}
                                @maxDate={{@toDateOptions.maxDate}}
                                @minDate={{@toDateOptions.minDate}}
                                @onChange={{fn this.changeToDate}}
                                @placeholder="Choose a Date" />
                        <Icon class="calendar alternate" />
                    </div>
                </Grid::Column>
                <Grid::Column class="four wide">
                    <Button::Standard class="fluid {{unless @customDateSet 'disabled'}}"
                                      @type="button"
                        {{on 'click' @setCustomDate}}>
                        SET DATES
                    </Button::Standard>
                </Grid::Column>
            </Grid::Row>
        {{/if}}
    </Grid>
{{else}}
    <Grid>
        <Grid::Column class="sixteen wide">
            <Grid>
                {{#if @requestReport}}
                    <Grid::Column class="sixteen wide">
                        <Button::LabeledIcon class="fluid"
                                             @type="button"
                                             @icon="history"
                                             @text="REQUEST CSV REPORT"
                            {{on 'click' this.requestCsvReport}} />
                    </Grid::Column>
                {{/if}}
                {{!--<Grid::Column class="sixteen wide">
                    <Button::LabeledIcon class="fluid"
                                         @type="button"
                                         @icon="refresh"
                                         @text="REFRESH"
                                         @loading={{this.performingRefresh}}
                        {{on 'click' this.refreshDatagrid}} />
                </Grid::Column>--}}
                <Grid::Column class="sixteen wide">
                    <Button::LabeledIcon class="fluid red {{unless @filtered 'disabled'}}"
                                         @type="button"
                                         @icon="undo"
                                         @text="RESET"
                        {{on 'click' this.resetFilters}} />
                </Grid::Column>
                {{#if @hasDatePickers}}
                    <Grid::Column class="sixteen wide">
                        <div class="ui fluid labeled icon input">
                            <Label class="icon">
                                FROM
                            </Label>
                            <EmberFlatpickr
                                    @date={{this.queryParams.fromDate}}
                                    @dateFormat={{@fromDateOptions.format}}
                                    @maxDate={{@fromDateOptions.maxDate}}
                                    @minDate={{@fromDateOptions.minDate}}
                                    @onChange={{fn this.changeFromDate}}
                                    @placeholder="Choose a Date" />
                            <Icon class="calendar alternate" />
                        </div>
                    </Grid::Column>
                    <Grid::Column class="sixteen wide">
                        <div class="ui fluid labeled icon input">
                            <Label class="icon">
                                TO
                            </Label>
                            <EmberFlatpickr
                                    @date={{this.queryParams.toDate}}
                                    @dateFormat={{@toDateOptions.format}}
                                    @maxDate={{@toDateOptions.maxDate}}
                                    @minDate={{@toDateOptions.minDate}}
                                    @onChange={{fn this.changeToDate}}
                                    @placeholder="Choose a Date" />
                            <Icon class="calendar alternate" />
                        </div>
                    </Grid::Column>
                    <Grid::Column class="sixteen wide">
                        <Button::Standard class="fluid {{unless @customDateSet 'disabled'}}"
                                          @type="button"
                            {{on 'click' @setCustomDate}}>
                            SET DATES
                        </Button::Standard>
                    </Grid::Column>
                {{/if}}
            </Grid>
        </Grid::Column>
    </Grid>
{{/if}}
{{#unless (media 'isDesktop')}}
    <Grid class="{{unless (media 'isDesktop') 'no-top-padding'}} {{unless (media 'isMobile') 'padded'}} equal width">
        {{#if @hasFilters}}
            {{#unless (media 'isDesktop')}}
                <Grid::Column>
                    <Button::LabeledIcon class="fluid yellow"
                                         @type="button"
                                         @icon="filter"
                                         @text={{if this.showFilters 'HIDE FILTERS' 'SHOW FILTERS'}}
                        {{on 'click' this.toggleShowFilters}} />
                </Grid::Column>
                <Grid::Column class="sixteen wide center aligned">
                    <p>{{@filteredByText}}</p>
                </Grid::Column>
            {{/unless}}
        {{/if}}
        {{#if @hasFilterCheckbox}}
            <Grid::Column class="sixteen wide">
                <Form::Field>
                    <Checkbox @label={{@filterCheckboxLabel}}
                              @checked={{@filterCheckboxVariable}}
                              @onChange={{fn this.filterCheckbox}} />
                </Form::Field>
            </Grid::Column>
        {{/if}}
    </Grid>
{{/unless}}
<Grid>
    {{#liquid-if this.showFilters class="animate-show-hide sixteen wide column no-top-padding no-bottom-padding"}}
        <Grid class="one column {{unless (media 'isDesktop') 'vertically padded' 'padded'}}">
            <Grid::Column>
                {{yield}}
            </Grid::Column>
        </Grid>
    {{/liquid-if}}
</Grid>