{{#if (media 'isDesktop')}}
    <Grid class="unstackable">
        <Grid::Column class="right aligned sixteen wide">
            <Button::LabeledIcon id="datagrid-apply-filter-button" class="mini yellow" @icon="filter" @text="APPLY FILTER" {{on 'click' this.filterResults}} />
        </Grid::Column>
    </Grid>
{{else if (media 'isTablet')}}
    <Grid>
        <Grid::Column class="centered eight wide">
            <Button::LabeledIcon class="fluid yellow" @icon="filter" @text="APPLY FILTER" {{on 'click' this.filterResults}} />
        </Grid::Column>
    </Grid>
{{else}}
    <Grid class="one column">
        <Grid::Column>
            <Button::LabeledIcon class="fluid yellow" @icon="filter" @text="APPLY FILTER" {{on 'click' this.filterResults}} />
        </Grid::Column>
    </Grid>
{{/if}}