<Grid class="unstackable one column">
    {{#unless @hideSearchBar}}
        <Grid::Column class="no-top-padding sixteen wide">
            <Segment class="small no-padding basic">
                <Form::Container class="small">
                    <Datagrid::SearchBar
                            @config={{@searchBarConfig}}
                            @queryParams={{this.queryParams}}
                            @meta={{@data.meta}}
                            @rowInfoText={{this.rowInfoText}}
                            @searchWithinDateRange={{@searchWithinDateRange}}
                            @updateQueryParams={{fn this.updateQueryParams}}
                            @filterBySearchText={{fn this.filterBySearchText}} />
                </Form::Container>
            </Segment>
        </Grid::Column>
    {{/unless}}
    {{#liquid-if @loading class="column zero-height-and-padding"}}
        <Segment class="basic padded">
            <Loader class="active" />
        </Segment>
    {{/liquid-if}}
    {{#if (and (not @loading) @data)}}
        <Grid::Column class="no-top-padding">
            {{#if (media 'isDesktop')}}
                <Grid class="unstackable padded no-top-padding one column">
                    <Grid::Row class="no-top-padding">
                        <Grid::Column>
                            <table class="ui compact datagrid table" ...attributes>
                                <thead>
                                <tr>
                                    {{#each @columns as |column|}}
                                        {{#unless column.hidden}}
                                            {{#if column.sortable}}
                                                <th {{on 'click' (fn this.sortByColumn column.name)}} class="sortable {{if column.width column.width ''}} {{if column.alignment column.alignment ''}}">
                                                    {{column.heading}}
                                                    {{#if (eq this.sortColumn column.name)}}
                                                        <i class="caret {{if (eq this.sortDirection '-') 'down' 'up'}} icon"></i>
                                                    {{/if}}
                                                    {{#if column.info}}
                                                        <Popup::HelpIcon @html={{column.info}} />
                                                    {{/if}}
                                                </th>
                                            {{else}}
                                                <th class="{{if column.width column.width ''}} {{if column.alignment column.alignment ''}} not-clickable">
                                                    {{column.heading}}
                                                    {{#if column.info}}
                                                        <Popup::HelpIcon @html={{column.info}} />
                                                    {{/if}}
                                                </th>
                                            {{/if}}
                                        {{/unless}}
                                    {{/each}}
                                    {{#if (has-block)}}
                                        <th class="not-clickable">
                                            ACTIONS
                                        </th>
                                    {{/if}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#each @data as |row|}}
                                    <tr class={{get row 'rowHighlight'}} {{on 'click' (fn this.rowClicked row)}}>
                                        {{#each @columns as |column|}}
                                            {{#unless column.hidden}}
                                                <td class="{{if column.alignment column.alignment ''}} {{get row 'columnHighlight'}}">
                                                    {{#if column.labeled}}
                                                        {{#if column.labelColourAttribute}}
                                                            <Label class="tiny basic {{get row column.labelColourAttribute}}">{{get row column.name}}</Label>
                                                        {{else}}
                                                            <Label class="tiny basic {{column.labelColour}}">{{get row column.name}}</Label>
                                                        {{/if}}
                                                    {{else if column.html}}
                                                        {{{get row column.name}}}
                                                    {{else if column.icon}}
                                                        <Icon class="big" {{get row column.name}} />
                                                    {{else}}
                                                        {{get row column.name}}
                                                    {{/if}}
                                                </td>
                                            {{/unless}}
                                        {{/each}}
                                        {{#if (has-block)}}
                                            <td>
                                                {{yield row}}
                                            </td>
                                        {{/if}}
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </Grid::Column>
                    </Grid::Row>
                </Grid>
            {{else}}
                <Grid class="{{if (media 'isTablet') 'two' 'one'}} column unstackable">
                    {{#each @data as |row|}}
                        <Grid::Column>
                            <table class="ui primary very compact relaxed attached unstackable definition table" ...attributes>
                                <tbody>
                                {{#each @columns as |column|}}
                                    <tr>
                                        {{#unless column.hidden}}
                                            <td>
                                                {{column.heading}}
                                            </td>
                                            <td>
                                                {{#if column.labeled}}
                                                    {{#if column.labelColourAttribute}}
                                                        <Label class="basic {{get row column.labelColourAttribute}}">{{get row column.name}}</Label>
                                                    {{else}}
                                                        <Label class="basic {{column.labelColour}}">{{get row column.name}}</Label>
                                                    {{/if}}
                                                {{else if column.html}}
                                                    {{{get row column.name}}}
                                                {{else if column.icon}}
                                                    <Icon class="big" {{get row column.name}} />
                                                {{else}}
                                                    {{get row column.name}}
                                                {{/if}}
                                            </td>
                                        {{/unless}}
                                    </tr>
                                {{/each}}
                                {{#if (has-block)}}
                                    <tr>
                                        <td colspan="2">
                                            {{yield row}}
                                        </td>
                                    </tr>
                                {{/if}}
                                {{#if (and @clickable (not (has-block)))}}
                                    <Button::Standard class="primary bottom attached" @text="VIEW" @icon="eye" {{on 'click' (fn this.rowClicked row)}} />
                                {{/if}}
                                </tbody>
                            </table>
                        </Grid::Column>
                    {{/each}}
                </Grid>
            {{/if}}
        </Grid::Column>
    {{/if}}
    {{#if this.showNoDataMessage}}
        <Grid::Column class="sixteen wide center aligned">
            {{#if @filterText}}
                <strong>No search results were returned</strong>
            {{else}}
                <strong>No data available</strong>
            {{/if}}
        </Grid::Column>
    {{/if}}
</Grid>