<Grid class="unstackable one column">
    {{#unless @hideSearchBar}}
        <Grid::Column class="no-top-padding sixteen wide">
            <Segment class="small no-padding basic">
                <Form::Container class="small">
                    <Datagrid::SearchBar
                        @config={{@searchBarConfig}}
                        @queryParams={{this.queryParams}}
                        @meta={{@data.meta}}
                        @rowInfoText={{this.rowInfoText}}
                        @searchWithinDateRange={{@searchWithinDateRange}}
                        @updateQueryParams={{fn this.updateQueryParams}}
                        @filterBySearchText={{fn this.filterBySearchText}} />
                </Form::Container>
            </Segment>
        </Grid::Column>
    {{/unless}}
    {{#liquid-if @loading class="column zero-height-and-padding"}}
        <Segment class="basic padded">
            <Loader class="active" />
        </Segment>
    {{/liquid-if}}
    {{#if (and (not @loading) @data)}}
        <Grid::Column class="no-top-padding">
            <Grid class="unstackable padded no-top-padding one column">
                <Grid::Row class="no-top-padding">
                    <Grid::Column>
                        <Items ...attributes>
                            {{#each @data as |row|}}
                                {{yield row}}
                            {{/each}}
                        </Items>
                    </Grid::Column>
                </Grid::Row>
            </Grid>
        </Grid::Column>
    {{/if}}
    {{#if this.showNoDataMessage}}
        <Grid::Column class="sixteen wide center aligned">
            {{#if @filterText}}
                <strong>No search results were returned</strong>
            {{else}}
                <strong>No data available</strong>
            {{/if}}
        </Grid::Column>
    {{/if}}
</Grid>