<Grid class="unstackable {{unless (media 'isMobile') 'padded'}} one column">
    {{#if (or @config.showPagination @config.showDisplayedRows)}}
        <Grid::Column>
            <Segment class="basic small light">
                {{#if (media 'isDesktop')}}
                    <Grid class="equal width stackable">
                        <Grid::Row class="middle aligned">
                            {{#if @config.showPagination}}
                                <Grid::Column class="{{unless @config.paginationAlignment 'left aligned' @config.paginationAlignment}}">
                                    <Pagination id="datagrid-pagination" class="mini"
                                                @links={{@meta.pagination}}
                                                @infoText={{@rowInfoText}}
                                                @updateQueryParams={{@updateQueryParams}} />
                                </Grid::Column>
                            {{/if}}
                            {{#if @config.showTextFilter}}
                                <Grid::Column>
                                    <Search id="datagrid-search-input" class="fluid icon"
                                            @placeholder={{@config.searchPlaceholderText}}
                                            @selected={{@queryParams.searchText}}
                                            @showClearTextIcon={{true}}
                                            @onChange={{@filterBySearchText}} />
                                </Grid::Column>
                                {{#if @config.showSearchCheckbox}}
                                    <Grid::Column>
                                        <Form::Field class={{unless @queryParams.searchText 'disabled'}}>
                                            <Checkbox @name="within-date-range"
                                                      @label="within selected date range only"
                                                      @checked={{@queryParams.searchWithinDateRange}}
                                                      @disabled={{not @queryParams.searchText}}
                                                      @onChange={{this.updateSearchWithinDateRange}} />
                                        </Form::Field>
                                    </Grid::Column>
                                {{/if}}
                            {{/if}}
                            {{#if @config.showDisplayedRows}}
                                <Grid::Column class="right aligned">
                                    <span><strong>Show:</strong></span>&nbsp;&nbsp;
                                    <Dropdown::Selection id="datagrid-show-rows-dropdown" class="compact" @selected={{@queryParams.limit}} @onChange={{this.updateLimit}}>
                                        {{#each this.dropdownLimitOptions as |option|}}
                                            <Menu::Item data-value="{{option.value}}">
                                                {{option.text}}
                                            </Menu::Item>
                                        {{/each}}
                                    </Dropdown::Selection>
                                </Grid::Column>
                            {{/if}}
                        </Grid::Row>
                    </Grid>
                {{else if (media 'isTablet')}}
                    <Grid class="stackable">
                        {{#if @config.showPagination}}
                            <Grid::Column class="eight wide">
                                <Pagination class="mini"
                                            @links={{@meta.pagination}}
                                            @infoText={{@rowInfoText}}
                                            @updateQueryParams={{@updateQueryParams}} />
                            </Grid::Column>
                        {{/if}}
                        {{#if @config.showDisplayedRows}}
                            <Grid::Column class="eight wide">
                                <span><strong>Show:</strong></span>&nbsp;&nbsp;
                                <Dropdown::Selection class="compact" @selected={{@queryParams.limit}} @onChange={{this.updateLimit}}>
                                    {{#each this.dropdownLimitOptions as |option|}}
                                        <Menu::Item data-value="{{option.value}}">
                                            {{option.text}}
                                        </Menu::Item>
                                    {{/each}}
                                </Dropdown::Selection>
                            </Grid::Column>
                        {{/if}}
                        {{#if @config.showTextFilter}}
                            <Grid::Column class="eight wide">
                                <Search class="fluid icon"
                                        @placeholder={{@config.searchPlaceholderText}}
                                        @selected={{@queryParams.searchText}}
                                        @showClearTextIcon={{true}}
                                        @onChange={{@filterBySearchText}} />
                            </Grid::Column>
                        {{/if}}
                        {{#if @config.showSearchCheckbox}}
                            <Grid::Column class="eight wide">
                                <Form::Field class={{unless @queryParams.searchText 'disabled'}}>
                                    <Checkbox @name="within-date-range"
                                              @label="within selected date range only"
                                              @checked={{@queryParams.searchWithinDateRange}}
                                              @disabled={{not @queryParams.searchText}}
                                              @onChange={{this.updateSearchWithinDateRange}} />
                                </Form::Field>
                            </Grid::Column>
                        {{/if}}
                    </Grid>
                {{else}}
                    <Grid>
                        {{#if @config.showPagination}}
                            <Grid::Column class="sixteen wide center aligned">
                                <Pagination class="mini"
                                            @links={{@meta.pagination}}
                                            @infoText={{@rowInfoText}}
                                            @updateQueryParams={{@updateQueryParams}} />
                            </Grid::Column>
                        {{/if}}
                        {{#if @config.showDisplayedRows}}
                            <Grid::Column class="four wide right aligned">
                                <Form::Field>
                                    <Dropdown::Selection class="compact" @selected={{@queryParams.limit}} @onChange={{this.updateLimit}}>
                                        {{#each this.dropdownLimitOptions as |option|}}
                                            <Menu::Item data-value="{{option.value}}">
                                                {{option.text}}
                                            </Menu::Item>
                                        {{/each}}
                                    </Dropdown::Selection>
                                </Form::Field>
                            </Grid::Column>
                        {{/if}}
                        {{#if @config.showTextFilter}}
                            <Grid::Column class="twelve wide">
                                <Search class="fluid icon"
                                        @placeholder={{@config.searchPlaceholderText}}
                                        @selected={{@queryParams.searchText}}
                                        @showClearTextIcon={{true}}
                                        @onChange={{@filterBySearchText}} />
                            </Grid::Column>
                        {{/if}}
                        {{#if @config.showSearchCheckbox}}
                            <Grid::Column class="sixteen wide">
                                <Form::Field class={{unless @queryParams.searchText 'disabled'}}>
                                    <Checkbox @name="within-date-range"
                                              @label="within selected date range only"
                                              @checked={{@queryParams.searchWithinDateRange}}
                                              @disabled={{not @queryParams.searchText}}
                                              @onChange={{this.updateSearchWithinDateRange}} />
                                </Form::Field>
                            </Grid::Column>
                        {{/if}}
                    </Grid>
                {{/if}}
            </Segment>
        </Grid::Column>
    {{/if}}
</Grid>