<style>
    .ui.primary.header:not(.icon),
    .ui.primary.card .header,
    .ui.steps .step.active .title,
    .ui.menu.secondary .fitted.header.item .primary.text,
    .menu .primary.header,
    .ui.primary.menu:not(.inverted) .item,
    .ui.primary.tabular.menu .active.item,
    .primary.text,
    .ui.primary.statistic > .label,
    .primary.icon,
    .primary.divider,
    .ui.primary.table thead th {
        color: #{{local-storage 'brandingPrimaryColour'}} !important;
    }

    .menu .ui.header.item,
    .menu .item .ui.header,
    .ui.modal > .primary.header,
    .ui.inverted.primary.segment .ui.header,
    .menu .item .ui.breadcrumb a,
    .menu .item .ui.breadcrumb .divider,
    .menu .item .ui.breadcrumb, .menu .item .active.section,
    #overflow-menu-button > i {
        color: #{{local-storage 'primaryTextColour'}} !important;
    }

    .ui.primary.raised.segment {
        border-top-color: #{{local-storage 'brandingPrimaryColour'}} !important;
    }

    .ui.dividing.header {
        border-bottom-color: #{{local-storage 'brandingPrimaryColour'}} !important;
    }

    .ui.primary.tabular.menu .active.item {
        border-color: #{{local-storage 'brandingPrimaryColour'}} !important;
    }

    #navigation-menu, #actions-menu, .ui.primary.button, #footer, .ui.modal > .primary.header, .ui.inverted.primary.segment {
        background-color: #{{local-storage 'brandingPrimaryColour'}} !important;
    }

    input:read-only:not(.flatpickr-input),
    .readonly.flatpickr-input,
    textarea:read-only {
        background-color: #{{local-storage 'readonlyBackground'}}!important;
        color: #{{local-storage 'readonlyForeground'}} !important;
    }
</style>