<div
    {{did-insert this.setCheckedOrUnchecked}}
    {{did-update this.setCheckedOrUnchecked @checked}}
    {{on 'click' this.clicked}} class="ui {{if @disabled 'disabled'}} checkbox" ...attributes>
    <input type="checkbox" name={{@name}}>
    <label>{{@label}}</label>
</div>