<div
    {{did-insert this.setCheckedOrUnchecked}}
    {{did-update this.setCheckedOrUnchecked @checked}}
    {{on 'click' this.clicked}} class="ui {{if @disabled 'disabled'}} radio checkbox" ...attributes>
    <input type="radio" name={{@name}} value={{@value}}>
    <label>{{@label}}</label>
</div>