<div class="field {{if this.hasErrors 'error'}}" ...attributes>
    {{#if @label}}
        <label>{{@label}} {{#if @info}}<span data-tooltip={{@info}}><Icon class="blue info circle" /></span>{{/if}}</label>
    {{/if}}
    {{yield}}
    {{#if this.errors}}
        <Message class="red">
            <List>
                {{#each this.errors as |error|}}
                    <List::Item>
                        <Icon class="warning circle" />
                        <General::Content>
                            {{#if error.detail}}
                                {{error.detail}}
                            {{else if error.title}}
                                {{error.title}}
                            {{else if error.message}}
                                {{error.message}}
                            {{else}}
                                {{error}}
                            {{/if}}
                        </General::Content>
                    </List::Item>
                {{/each}}
            </List>
        </Message>
    {{/if}}
</div>