<div {{did-insert this.activateDropdown}} class="ui selection dropdown" ...attributes>
    <Input @type="hidden" @value={{@selected}} {{on 'change' this.hasChanged}} />
    <Icon class="dropdown" />
    <Text::Sub class="default">
        {{@defaultText}}
    </Text::Sub>
    <Menu::Sub>
        {{yield}}
    </Menu::Sub>
</div>