<ModalDialog
        @onClose='toggleAreYouSureModal'
        @translucentOverlay={{true}}
        @overlayPosition='sibling'
        @animatable={{true}}
        @containerClassNames={{concat 'width-40 ' (media 'classNames')}}>
    <Card class="fluid">
        <General::Content>
            <Header @noUi={{true}} @text={{@header}}/>
            <General::Meta>
                {{{@description}}}
            </General::Meta>
        </General::Content>
        <General::Content class="extra">
            <Menu class="{{if (media 'isMobile') 'fluid vertical'}} fitted small borderless secondary">
                <Menu::Sub class="right">
                    <Menu::Item>
                        <Button::LabeledIcon class="fluid red"
                                             @text="NO"
                                             @icon="thumbs down"
                            {{on 'click' @toggleAction}} />
                    </Menu::Item>
                    <Menu::Item>
                        <Button::LabeledIcon class="fluid green {{if @loading 'loading'}}"
                                             @text="YES"
                                             @icon="thumbs up"
                            {{on 'click' @yesAction}} />
                    </Menu::Item>
                </Menu::Sub>
            </Menu>
        </General::Content>
    </Card>
</ModalDialog>