<Modal @toggleModal={{@toggleRequestReportModal}}>
    <Card {{did-insert this.activateModal}} class="fluid">
        <General::Content>
            <Header @noUi={{true}}
                    @text="Request a CSV Report" />
            <General::Meta>
                Once the report has been generated we will send a notification email.
            </General::Meta>
            <General::Description>
                <Grid class="vertically padded stackable one column">
                    <Grid::Column>
                        <Form::Container class="small">
                            <Form::Field @label="Send the notification email to"
                                         @errors={{@requestedReport.errors.recipient}}>
                                <input type="text" value={{this.recipient}} maxlength="255" {{on 'keyup' this.setRecipient}} />
                            </Form::Field>
                        </Form::Container>
                    </Grid::Column>
                </Grid>
            </General::Description>
        </General::Content>
        <General::Description class="extra">
            <div class="extra content">
                <Menu class="{{if (media 'isMobile') 'fluid vertical'}} fitted small borderless secondary">
                    <Menu::Sub class="right">
                        <Menu::Item>
                            <Button::LabeledIcon class="red fluid"
                                                 @text="CANCEL"
                                                 @icon="times"
                                {{on 'click' @toggleRequestReportModal}} />
                        </Menu::Item>
                        <Menu::Item>
                            <Button::LabeledIcon class="green fluid" {{on 'click' this.requestCsvReportAction}}
                                                 @text="SEND REQUEST"
                                                 @icon="thumbs up"
                                                 @loading={{@loading}} />
                        </Menu::Item>
                    </Menu::Sub>
                </Menu>
            </div>
        </General::Description>
    </Card>
</Modal>