<Menu class="pagination" ...attributes>
    {{#each-in this.defaultLinks as |defaultLinkName defaultLinkValue|}}
        {{#if (get @links defaultLinkName)}}
            <a {{on 'click' (fn this.updatePagination (get @links defaultLinkName))}} class="item"><Icon class={{defaultLinkValue.icon}} /></a>
        {{else}}
            <Menu::Item class="disabled">
                <Icon class={{defaultLinkValue.icon}} />
            </Menu::Item>
        {{/if}}
        {{#if (eq defaultLinkName 'prev')}}
            <Menu::Item class="header">
                {{@infoText}}
            </Menu::Item>
        {{/if}}
    {{/each-in}}
</Menu>
