<div
    {{did-insert this.activate}}
    {{did-update this.update @percent}} class="ui indicating progress" ...attributes>
    {{#if (has-block)}}
        {{yield}}
    {{else}}
        <div class="bar"></div>
        <div class="label">{{@label}}</div>
    {{/if}}
</div>