<div class="ui search" ...attributes>
    <div class="ui fluid icon input {{if @loading 'loading'}}">
        <input class="prompt" type="text" placeholder={{@placeholder}} value={{@selected}} {{on 'input' this.searchChanged}}>
        {{#if this.showClearTextIcon}}
            <Icon class="times circle" {{on 'click' this.clearSearchText}} />
        {{else}}
            <Icon class="search" />
        {{/if}}
    </div>
    {{#if (gt @results 0)}}
        <div class="results">
            {{yield}}
        </div>
    {{/if}}
</div>