<Segment class="primary inverted center aligned" ...attributes>
    <Text class="small">
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{{t 'signup.footer'}}}
        {{/if}}
    </Text>
</Segment>