<button class="ui {{if @loading 'loading'}} {{if @disabled 'disabled'}} button" type={{@type}} ...attributes>
    {{#if (has-block)}}
        {{yield}}
    {{else}}
        {{@text}}
    {{/if}}
</button>